{% extends 'base.html.twig' %}

{% block title %}O'cars{% endblock %}

{% block body %}
  <div class="container my-4">
       
        <h2>OUR BRANDS</h2>
            <div class="row mb-2">

            <div class="col">
                <div class="row g-0 border rounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">

                       
                            <dd class="col-sm-12">

                                <div class="container">
                                    <h1>
                                        {{ brand.name }}
                                    </h1>

                                    <h2>
                                        Cars in this brand
                                                                            
                                    </h2>

                                    <ul>
                                        {% for car in cars %}
                                            <li>
                                                {{ car.Model }}{{ car.releaseYear }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </dd>

                        </dl>

                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}

