html {
      overflow-y: scroll;
  }
  
  .header-logo__title {
      color: #e50914;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0 0.8em 0 0.3em;
      text-transform: uppercase;
  }
  
  .h-md-300 {
      height: 300px;
  }
  

  
  
  
 